@import url('https://fonts.google.com/specimen/Kumbh+Sans');
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 120px;
    font-family: 'Kumbh', sans;
}
.image-container{
    display: flex;
    flex-direction: column;
    width: 45%;

}
.text-container{
    width: 40%;
    margin-top: 60px;
    margin-right: 50px;
}
.optional-images{
    display: flex;
    flex-direction: row;

}
.logo{
    padding: 10px;
    margin-left: 100px;
}
.sub-images{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: none;
    
}
.sub-images img{
    
    
}
.sub-images img:hover{
    filter: opacity(50%);
    border: 3px solid white;
    border-radius: 3px;
}
#mainimage{
    width: 270px;
    height: 270px;
    border-radius: 3px;
  
}
#image{
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 300px;
    padding-left: 10px;
}
.options{
    border-radius: 3px;
    border: none;
    width: 60px;
    height: 60px;
}
.sub-images{
    border-radius: 3px;
    border: none;
    width: 60px;
    height: 60px;
    padding-left: 20px;
    padding-top: 20px;
    
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
hr{
    width: 950px;
    color: hsl(220, 14%, 75%);;
   
}
.left-pane{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.right-pane{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.profile{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 15px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 10px;  
}
.cart-icon{
    margin-top: 15px;
    margin-left: 50px;

}
#avatar{
    width: 30px;
    height: 30px;
      
}
.price-info{
    display: flex;
    flex-direction: row;
}
.discount{
    width: 40px;
    height: 20px;
    border-radius: 3px;
    border: none;
    background-color:  hsl(25, 100%, 94%);
    margin-left: 20px;
}
.item-number{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: hsl(223, 64%, 98%);
}
.cart-btn{
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin-left: 20px;
    justify-content: center;
    align-content: center;
}
.add-to-cart{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
ul{
    display: flex;
    flex-direction: row;
    
}
li{
    list-style-type: none;
    padding-left: 10px;
    color:hsl(220, 14%, 75%); ;
}
p{
    font-size: 16px;
    color: hsl(220, 14%, 75%);
}
.title{
    color:hsl(26, 100%, 55%);
    font-family: 'Kumbh', sans-serif;
}
#cart-btn{
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
.original-price{
    color:  hsl(0, 0%, 0%);
    opacity: 75%;
    font-weight: 400;
    margin-top: 20px;
}
h1{
    color:  hsl(0, 0%, 0%);
    opacity: 75%;
    font-weight: 700;
    font-family: 'Kumbh', sans-Serif;
}
#cart{
    color: white;
    margin-top: 10px;
    margin-left: 40px;
}
.increase{
    margin-top: 10px;
}
.count{
    margin-top: 10px;
}
.decrease{
    margin-top: 5px;
}
#bg-modal{
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
    
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
     display: none; 
    
}
#cart-modal{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 350px;
    margin-top: 100px;



}
#close{
    position: absolute;
    top: 0;
    right: 30px;
    cursor: pointer;

}
#cart-hr{
    width: 450px;
}
.cart-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item-image img{
    width: 50px;
    height: 50px;
    border-radius: 2px;
    padding: 30px;
}
.item-details{
    padding: 30px;
}
.btn-remove img{
    padding: 30px;
    width: 30px;
    height: 30px;
}
.btn-checkout{
    width: 400px;
    height: 40px;
    border-radius: 4px;
    background-color: hsl(26, 100%, 55%);
    color: white;
    text-align: center;
    
}